.icon {
  position: absolute;
  margin-left: 15px;
  margin-top: 7px;
}
.input {
  border-radius: 30px;
  background-color: rgb(73, 65, 65);
  height: 30px;
  color: white;
  font-weight: 100;
  font-size: 20px;
  width: 100%;
  border-color: transparent;
  padding: 10px 18px 18px 45px;
}
input::placeholder {
  color: rgb(194, 194, 194);
  margin-left: 10px;
  margin-top: 5px;
}
input:focus {
  outline-width: 0;
  border: solid 1px white;
}
